@page
@model The_cheapest_prices.Pages.ProfileModel

@{
}


<div class="d-flex">
    <div class="list-group" style="width: 250px;">
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            Меню
        </button>
        <button type="button" class="list-group-item list-group-item-action">
                <a class="nav-link text-dark" asp-area="" asp-page="/SellProduct">Виставити на продаж</a>
        </button>

        <button type="button" class="list-group-item list-group-item-action">
                <a class="nav-link text-dark" asp-area="" asp-page="/MyProducts">Мої товари</a>
        </button>
        <button type="button" class="list-group-item list-group-item-action">
            <a class="nav-link text-dark" asp-area="" asp-page="/Cart">Кошик</a>
        </button>
    </div>

    <div class="flex-grow-1 p-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ваше ID: @Model.UserId</li>

            <li class="list-group-item">Імя та прізвище: @Model.UserName @Model.UserSurname</li>

            <li class="list-group-item">Стать: @Model.UserSex</li>

            <li class="list-group-item">Дата народження: @Model.UserDateOfBirth</li>

            <li class="list-group-item">Номер телефона: @Model.UserNumberPhone</li>

            <li class="list-group-item">Ваша почта: @Model.UserEmail</li>
        <form method="post">
            <button asp-page-handler="Edit" class="btn btn-outline-success" type="submit">Редагувати</button>
        </form>
        </ul>
    </div>
</div>
